.container {
  position: relative;
  text-align: center;
  color: black;
  width: 950px;
}

.chequeName {
  position: absolute;
  top: 132px;
  left: 200px;
}

.chequeDate {
  position: absolute;
  top: 78px;
  left: 580px;
}

.chequeWords {
  position: absolute;
  top: 176px;
  left: 135px;
}

.chequeValue {
  position: absolute;
  top: 132px;
  left: 730px;
}
