.home {
  text-align: center;
  margin: auto;
}

.row {
  display: inline-flex;
}

.App-logo {
  display: block;
  margin: auto;
  width: auto;
  height: 120;
  margin-bottom: 20px;
  margin-top: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-body {
  width: 500px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.List-body {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.label-form {
  width: 100%;
}

.cheque {
  margin-bottom: 50px;
}
